body {
  background: #f8f8f8;
  color: #040404;
  font-family: 'Catamaran', sans-serif;
  font-size: 21px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.font-zilla {
  font-family: 'Zilla Slab', serif;
}

h1,
.font-fugaz {
  font-family: 'Fugaz One', cursive;
}

a:hover {
  color: #4A1942;
  text-decoration: none;
}

.text-xl {
  font-size: 22px;
}

badge {
  padding: 2px 7px;
  background: #FCBA04;
  border-radius: 7px;
  font-weight: 700;
  color: #040404;
}

.gatsby-image-wrapper {
  overflow: visible !important;
}

.border-blue {
  border-top: 3px solid #008F90;
  margin-bottom: 15px;
  margin-top: 6px;
  max-width: 150px;
}

.underline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #4A1942;
  height: 4px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline-from-center:hover:before {
  left: 0;
  right: 0;
}

.site-content {
  display: flex;
  flex-direction: column;
  min-height: calc( 100vh - 78px );
}

header {
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}

.brand a {
  font-weight: 700;
}

.brand .gatsby-image-wrapper {
  width: 65px;
  height: 65px;
}

.brand img {
  height: 65px;
  width: 65px;
}

nav {
  display: inline-flex;
}

nav a {
  color: #040404;
  margin: 0 5px;
  padding: 1rem;
  text-align: center;
}

.social-wrap a {
  background-color: transparent;
  border-radius: 100%;
  height: 40px;
  margin: 1px;
  padding: 8px;
  text-align: center;
  width: 40px;
}

.social-wrap a svg {
  color: #040404;
}

.home-hero {
  align-items: center;
  background: rgba(72, 25, 64, 0.15);
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 25px;
}

.home-hero p {
  font-size: 21px;
}

.home-hero .gatsby-image-wrapper {
  box-shadow: -2px 6px 11px rgba(252, 186, 4, 0.3);
  margin-bottom: -150px;
}

.content-wrapper {
  font-size: 18px;
  margin: 0 auto;
  max-width: 1100px;
  padding: 40px 10px;
}

.dev-wrap {
  padding-top: 200px;
}

.football-wrap,
.home-cta {
  padding: 95px 0 50px;
}

.social-link {
  margin-right: 7px;
}

.social-link svg {
  color: #4A1942;
  font-size: 25px;
  font-weight: 700;
}

.social-link:hover svg {
  color: #FCBA04;
}

footer {
  background-color: #4A1942;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: flex-end;
  min-height: 250px;
  padding: 1rem;
  text-align: center;
}

footer a,
footer .social-link svg {
  color: #f8f8f8;
  font-weight: 700;
}

footer a:hover,
footer .social-link:hover svg {
  color: #FCBA04;
}

footer .social-link svg {
  font-size: 25px;
}

@media screen and (max-width:700px) {
  .brand .gatsby-image-wrapper {
    height: 55px;
    width: 55px;
  }

  nav a {
    padding: 8px;
    font-size: 16px;
    margin: 0 3px;
  }

  .content-wrapper {
    padding: 20px 10px;
  }

  .home-hero {
    min-height: none;
    padding: 20px 0;
  }

  .home-hero .gatsby-image-wrapper {
    height: 100%;
    margin: 0 auto;
    text-align: right;
    width: 200px;
  }

  .dev-wrap {
    padding: 50px 10px;
  }

  .football-wrap,
  .home-cta {
    padding: 35px 10px;
  }

  footer {
    min-height: 150px;
    padding: 25px 10px;
  }
}
